<h1>Hello this is my new website!</h1>
<p>
	Not sure what I'm doing but this is exciting...

	by <%= link_to "Olivier Xu", "http://www.linkedin.com/in/olivierxu"%>

</p>

<p>
	<%= link_to "Sign Up Now!", "#" %>

</p>